:root {
  --primary-color: #e35604;
  --secondary-color: #1c1c1c;
}

body {
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.container {
  max-width: 1155px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
}

.bg-dark {
  background: var(--secondary-color);
  color: #f6fef9;
}

.bg-primary {
  background: var(--primary-color);
  color: #f6fef9;
}
.bg-nav {
  border-radius: 4px;
  color: var(--primary-color);
  background: #f6fef9;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.py-1 {
  padding: 1rem 0;
  line-height: 1.6;
}
.bg-primary {
  background: var(--primary-color);
}
.bg-secondary {
  background: var(--secondary-color);
}

.bg-1 {
  background: #c52961;
}

.bg-2 {
  background: #d69673;
}

.bg-3 {
  background: #62827c;
}

.bg-4 {
  background: #00b8ff;
}

.txt-bold {
  font-size: 3.5rem;
  font-weight: bold;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}
.c-heading {
  font-size: 1.4rem;
  line-height: 1.4;
}

.l-heading {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2;
}

.m-heading {
  font-size: 2rem;
  font-weight: normal;
}

.s-heading {
  font-size: 1rem;
  font-weight: bold;
}

.heading-border {
  height: 1.5px;
  width: 100px;
  background: var(--secondary-color);
}

p {
  font-family: "Open Sans", sans-serif;
  color: #777;
  padding: 1.8rem 0;
  line-height: 1.8;
}

/* navbar */

/* contact */
#main-navbar .contact {
  background: var(--secondary-color);
  color: #f6fef9;
}

#main-navbar .contact .container {
  display: flex;
  justify-content: space-between;
}

#main-navbar .contact .container div {
  margin: 0.8rem 0;
}

#main-navbar .contact .container div span {
  margin-right: 1rem;
}

/* navlist */
#main-navbar .navbar {
  background: var(--primary-color);
  padding: 0.9rem 0;
}

#main-navbar .navbar a {
  color: #f6fef9;
}

#main-navbar .navbar .container {
  display: flex;
  justify-content: space-between;
}

#main-navbar .navbar .main-icon {
  font-size: 1.4rem;
}

#main-navbar .navbar .navbar-list ul {
  display: flex;
  list-style: none;
}

#main-navbar .navbar .navbar-list ul li {
  padding: 0.5rem 1rem;
}
#main-navbar .navbar .call-us {
  margin: 0.1rem 0;
}

#main-navbar .navbar .call-us a {
  color: var(--primary-color);
}

/* header */
#main-header {
  background: #f7f7f7;
  height: 87vh;
}

#main-header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 3rem;
}
#main-header .header-content {
  padding-top: 8rem;
}
#main-header .header-content h3 {
  font-size: 3.5rem;
  font-weight: lighter;
  line-height: 1.3;
}

#main-header .header-image img {
  border-radius: 50%;
  margin: 5rem 0;
}

/* Section: About Us */

#about-us .card1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#about-us .card1-content {
  grid-column: 1 / span 2;
}
#about-us .card1-content .icons {
  display: flex;
}
#about-us .card1-content .icons h5 {
  text-align: center;
  margin-right: 6rem;
}

#about-us .card1-content i {
  padding: 0.7em;
  background: var(--primary-color);
  color: #f6fef9;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-right: 6rem;
}
#about-us .card1-image {
  height: 100%;
}

#about-us .card1-image img {
  width: 90%;
  height: 100%;
}

#about-us .card2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem 0;
}

#about-us .card2 .card2-content p {
  padding: 0.5rem 0;
}

#about-us .card2 .card2-content h4 {
  padding-bottom: 0.5rem;
}

/* What we do : Service */

#service {
  background: #f7f7f7;
}

#service .card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 6rem;
}

#service .card {
  background: #ffffff;
  padding: 2rem;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

/* Section : Testimonials */
#testimony {
  margin: 2.5rem 0;
}

#testimony .testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#testimony .testimonial .card {
  background: var(--primary-color);
  padding: 1.5rem;
}
#testimony .testimonial .card p {
  padding-top: 0.5rem;
  color: #fff;
}
#testimony .testimonial .card i {
  color: #fff;
}

#testimony .testimonial .user {
  margin: 1.5rem 0;
  display: flex;
}

#testimony .testimonial .user .user-image img {
  width: 80%;
  border-radius: 50%;
}

#testimony .testimonial .user .user-info {
  align-self: center;
}

#testimony .testimonial .user .user-info em {
  color: #777;
  font-size: 1rem;
}

/* Latest News */

#latest-news {
  margin: 2rem 0;
}

#latest-news .news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 2.5rem;
}
#latest-news .news .news-content {
  align-self: center;
}

#latest-news .news .news-content p {
  padding: 1rem 0;
}

#latest-news .news .news-content .btn {
  background: var(--secondary-color);
  color: #fff;
}

#latest-news .news .news-image {
  position: relative;
}

#latest-news .news .news-image .blog1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background: #fff;
}

#latest-news .news .news-image .blog2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background: #fff;
}

/* footer */

/* footer: info */

#info {
  background: var(--primary-color);
  padding: 3rem 0;
}

#info .page-info,
#info .page-info p {
  color: #fff;
  text-align: center;
  padding: 0.7rem 0;
  line-height: 1.4;
}

/* Other Pages Header  */

#other-header {
  background: var(--secondary-color) url("../img/innerbg.jpg") center
    center/cover;
  height: 30vh;
}

/* About Page */
/* some of the Stylings are already on the About section of the home page */

/* section : Our chef */

#our-chef {
  margin-bottom: 4rem;
}

#our-chef .chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#our-chef .chefs img {
  width: 90%;
  margin-bottom: 1rem;
}

#our-chef .chefs h3 {
  font-weight: 400;
  line-height: 1.8;
}

#our-chef .chefs p {
  padding: 0;
  font-size: 0.8rem;
}

/* Services Page */
/* some of the Stylings are already on the Service section of the home page */
#services {
  margin-bottom: 3.5rem;
}

#services .services-items .border-bottom {
  width: 25rem;
  background: #f7f7f7;
  height: 0.15rem;
  margin: 1rem 0;
}

#services .services-items p {
  padding: 0;
}
#services .services-items h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

#services .services-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#services .services-items .item {
  display: flex;
}

#services .services-items .service-icon i {
  color: #fff;
  padding: 1.4rem;
  border-radius: 50%;
  margin-right: 2rem;
}

/* Section: Order */

#order {
  padding: 6rem 0;
}

#order .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#order .card .card-content h3 {
  padding: 1rem 0;
}

#order .card .card-content p {
  padding: 0.5rem 0;
}

#order .card .card-content .btn {
  margin: 1rem 0;
}

#order .card .card-content a {
  color: #fff;
}

/* Gallery Page */

/* section: gallery  */

#gallery {
  padding-bottom: 7rem;
}

#gallery .gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#gallery .gallery-images img {
  width: 100%;
}

/* Blog Page */
/* Styling for this page is contained in the Home page styling */

/* Contact Page */

/* Section: Contact-Form */

#contact {
  padding-bottom: 4rem;
}

#contact input {
  width: 47%;
  border: 1px solid #e2e2e2;
  font-size: 1rem;
  padding: 0.9rem 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 5px;
}

#contact textarea {
  width: 96%;
  padding: 10px;
  margin: 0.5rem 0;
  height: 150px;
  border-radius: 2px;
  font-size: 1rem;
  border: 1px solid #e2e2e2;
}

#contact button {
  font-size: 1rem;
  border-radius: 2px;
}

#contact .address-info h3 {
  padding: 0.5rem 0;
  font-weight: 450;
  font-size: 1.5rem;
}

#contact .address-info p {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#contact form {
  grid-column: 1 / span 2;
}

#map {
  height: 50vh;
}

/* Blog page */

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
/* Blog : Left-Side  */

.left-side {
  grid-column: 1 / span 2;
}

#blog .blog-post {
  border: 1px solid #e0e0e0;
}

#blog .blog-post img {
  width: 100%;
}
#blog .blog-content {
  margin: 1rem;
}

#blog .blog-icons {
  margin: 2rem 0;
  color: #777;
}
#blog .blog-icons span {
  padding-right: 1rem;
}

#comments {
  margin: 2rem 0;
}

#comments .comment {
  display: flex;
  margin: 2rem 0;
}
#comments .comment-image {
  margin-right: 1rem;
}

#comments .comment-image img {
  border-radius: 5px;
}

#comments .comment-info p {
  padding: 0.5rem 0;
  font-size: 0.98rem;
}

#comments h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

#comment-form {
  margin: 5rem 0;
}

#comment-form form {
  margin: 2rem 0;
}

#comment-form input,
textarea {
  border: 1px solid #e2e2e2;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #777;
}

#comment-form button {
  font-size: 1rem;
}

/* Blog: Right Side */

.right-side .story img {
  width: 5rem;
}

#newsletter img {
  width: 100%;
  border-radius: 5px;
}

#newsletter h3 {
  padding: 1rem 0;
}

#newsletter p {
  padding: 0;
  font-size: 0.8;
}

#newsletter input {
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.9rem;
  border: 2px solid #e2e2e2;
  font-size: 0.9rem;
}

#newsletter button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  font-size: 0.9rem;
}

#categories {
  margin: 2rem 0;
}
#categories .c-groups {
  margin: 1rem 0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

#categories .c-groups .read {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.6rem;
  font-size: 0.6rem;
  font-weight: bolder;
}

#categories .category {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding: 0.7rem;
}

#categories .category:last-child {
  border-bottom: none;
}

#categories .category p {
  padding: 0;
  font-size: 0.9rem;
}

#top-stories {
  margin: 2rem 0;
}

#top-stories .stories {
  margin: 1rem 0;
}

#top-stories .stories .story {
  display: flex;
  margin: 1rem 0;
}
#top-stories .stories .story img {
  width: 8rem;
  border-radius: 5px;
}
#top-stories .stories .story .info {
  padding-left: 2rem;
}
#top-stories .stories .story .info div {
  padding: 1rem 0;
  font-size: 0.8rem;
  color: #777;
}

#connect {
  margin: 2rem 0;
}

#connect .socials {
  margin: 1rem 0;
}

#connect .socials .social {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0.2rem;
  margin: 0.5rem 0;
  color: #fff;
}

#connect .twitter {
  background: #87cefa;
}
#connect .facebook {
  background: #27408b;
}
#connect .dribble {
  background: #ff3e96;
}
#connect .pinterest {
  background: #8b2252;
}

/* Footer: description */
#footer-description {
  background: var(--secondary-color);
}

#footer-description a {
  color: #777;
}

#footer-description p {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

#footer-description .footer-top {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 4fr;
  grid-gap: 2rem;
  padding: 3rem 0;
}

#footer-description .footer-top h2 {
  color: #fff;
  font-weight: lighter;
  padding: 1rem 0;
}

#footer-description .footer-top .text-p {
  color: #777;
  font-weight: lighter;
}

#footer-description .footer-top .text-primary {
  color: var(--primary-color);
  font-weight: lighter;
}

#footer-description .footer-top .quicklinks ul li {
  list-style: none;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}

#footer-description .footer-top .subscribe input[type="email"] {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  border: none;
  width: 60%;
}

#footer-description .footer-top .subscribe button {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
  border: none;
  width: 35%;
}

#footer-description .footer-top .social-icons {
  margin: 1rem 0;
}

#footer-description .footer-top .subscribe i {
  padding: 0.5rem;
  color: #777;
}

#footer-description .footer-bottom {
  display: flex;
  font-size: 0.9rem;
  padding: 1.5rem 0;
  border-top: 1px solid #777;
}

#footer-description .footer-bottom a i {
  color: #fff;
  padding: 0.5rem;
  background: #545454;
  border-radius: 50%;
  border: 1px solid white;
  border: none;
  margin: 0 1rem;
}

#footer-description .footer-bottom .container {
  text-align: center;
}
